/* #98bf11 */
.section {
  height: 100vh;
  background-color: #ffb300da;
}

.section::before {
  content: '';
  background: url('../images/background_image.png');
  background-repeat: repeat;
  background-position: center;
  background-blend-mode: luminosity;
  background-size: contain;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 1;
}

.form {
  margin-top: 20vh;
  height: 35vh;
  width: 70%;
  background-color: #ffb30073;
  border-radius: 35px;
}

.input {
  text-align: center;
  border: 1px solid #97bf0f;
  color: black;
  font-weight: bold;
  border-radius: 35px;
  height: 2rem;
  width: 40vw;
}

.input:focus {
  outline: #81a10e 1px solid;
}

.submit {
  color: white;
  border-radius: 35px;
  height: 2rem;
  width: 35vw;
  border: 2px solid #81a10e;
  background-color: #97bf0f;
}

.submit:hover {
  background-color: #81a10e;
}

.logo {
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 5rem;
  padding: 1rem;
  box-shadow: 5px 5px 15px black;
  background-color: rgba(0, 0, 0, 0.432);
  border-radius: 35px;
}

.title {
  color: white;
  font-weight: bold;
  font-size: 2rem;
}
