@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
/* Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

.logo {
  font-family: 'Permanent Marker', cursive;
  font-size: 15vh;
  background: radial-gradient(rgb(0, 119, 255), rgb(0, 9, 128));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  user-select: none;
}